!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Find out how we can help you stay on top of IRS compliance and US tax return filing requirements. US tax compliance and US expatriation and giving up your US citizenship made easy. US tax returns and forms. Filed. Seamlessly. Start saving time and taxes today."}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "/assets/favicon.ico", rel: "shortcut icon"}

    = display_meta_tags(:title => "TAXEXP.AT - Expatriation US Tax Expert")
    = render "layouts/meta"

    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    = render "layouts/topbar"
    = render "layouts/flash"
    = yield
    = render "layouts/footer"
    = javascript_include_tag "application"